################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DrugProductDatabase/DrugProductDatabase/bin/Debug
